<style>
  p {
    margin: 1.5rem;
  }
</style>
<section class="section section-feature-grey">
  <div class="container">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <p>
          Dear Traders,
        </p>

        <p>
          It is with sincere regret that I inform you of the decision to close
          Down2Trade
          at the end of 2024. This decision has been one of the hardest I've had
          to make,
          and it comes after considerable reflection on our values and the
          sustainability
          of our business.
        </p>

        <p>
          From the beginning, we committed to a standard of honesty,
          transparency, and integrity. We chose to prioritize ethical practices
          over higher profits, focusing steadfastly on providing genuine support
          to help our clients succeed in trading.
        </p>

        <p>
          Despite the success of this approach in building trust and a loyal
          community, it
          has become apparent that maintaining our trading rooms is no longer
          economically
          viable.
        </p>

        <p>
          We are proud to conclude this chapter knowing we never compromised on
          our mission. Our dedication to maintaining an honest and
          client-focused environment remains intact, though it means accepting
          the financial reality that our trading rooms can no longer sustain
          themselves.
        </p>

        <p>
          I am profoundly grateful for your support and engagement with
          Down2Trade. It has
          been a privilege to serve such a passionate community of traders.
          While this
          phase of our journey ends, the lessons and values we've shared will
          continue to
          inspire and guide us all. Thank you for being a part of our story, and
          I wish
          you success and fulfillment in all your future trading endeavors.
        </p>
        <p>Warm regards,</p>
        <p><strong>Ahmet Candan</strong><br>
          Founder, Down2Trade
        </p>
      </div>
    </div>
  </div>
</section>
